<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">ng-Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" *ngIf="isLoggedIn"
          >Home <span class="sr-only">(current) {{ isLoggedIn }}</span></a
        >
      </li>
      <!-- <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/create">Add Product</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="products">Product List</a>
      </li> -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="posts">Posts</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/profile" class="nav-link" *ngIf="isLoggedIn"
          >Welcome {{ currentUserName }}</a
        >
        <a class="nav-link" *ngIf="!isLoggedIn"
          >Welcome {{ currentUserName }}</a
        >
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="/" class="nav-link">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
