<form [formGroup]="createPostForm" (ngSubmit)="submitPost()">
  <app-alert [alertMessage]="postCreatedSuccess"></app-alert>
  <div class="form-group mt-4">
    <label for="post_title">Post Title <span class="required">*</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      formControlName="title"
    />
    <small
      *ngIf="
        (submitted || postForm.title.touched) && postForm.title.errors?.required
      "
      class="text-danger"
      >Post title is required
    </small>
    <small *ngIf="postForm.title.errors?.serverError" class="text-danger"
      >{{ postForm.title.errors.serverError }}
    </small>
  </div>
  <div class="form-group">
    <label for="tags">Post Tags <span class="required">*</span></label>
    <input
      type="text"
      class="form-control"
      placeholder="Post Tags"
      formControlName="tags"
    />
    <small
      *ngIf="
        (submitted || postForm.tags.touched) && postForm.tags.errors?.required
      "
      class="text-danger"
      >Post Tags is required
    </small>
    <small *ngIf="postForm.tags.errors?.serverError" class="text-danger"
      >{{ postForm.tags.errors.serverError }}
    </small>
  </div>
  <div class="form-group">
    <label for="post_title">Featured Image (optional)</label>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        (change)="onFileChange($event)"
      />
      <label class="custom-file-label" for="featuredImg">
        {{ choosedFileName }}</label
      >
    </div>
    <small
      class="text-danger"
      *ngIf="postForm.feature_image.errors?.serverError"
      >{{ postForm.feature_image.errors.serverError }}
    </small>
  </div>
  <div class="form-group">
    <label for="post_content"
      >Post Content <span class="required">*</span></label
    >
    <textarea
      class="form-control"
      id="post_content"
      rows="3"
      placeholder="Post Content"
      formControlName="content"
    ></textarea>
    <small
      *ngIf="
        (submitted || postForm.content.touched) &&
        postForm.content.errors?.required
      "
      class="text-danger"
      >Post Content is required
    </small>
    <small *ngIf="postForm.content.errors?.serverError" class="text-danger"
      >{{ postForm.content.errors.serverError }}
    </small>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      Save Post
    </button>
  </div>
</form>
