<form [formGroup]="createPostForm" (ngSubmit)="submitPost()">
  <app-alert [alertMessage]="postCreatedSuccess"></app-alert>
  <div class="form-group mt-4">
    <label for="post_title">Post Title</label>
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      formControlName="title"
    />
    <small
      *ngIf="(submitted || postForm.title.touched) && postForm.title.errors"
      class="text-danger"
      >Post title is required
    </small>
  </div>
  <div class="form-group">
    <label for="tags">Post Tags</label>
    <input
      type="text"
      class="form-control"
      placeholder="Post Tags"
      formControlName="tags"
    />
    <small
      *ngIf="(submitted || postForm.tags.touched) && postForm.tags.errors"
      class="text-danger"
      >Post Tags is required
    </small>
  </div>
  <div class="form-group">
    <label for="post_title">Featured Image</label>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        (change)="onFileChange($event)"
        formControlName="fileSource"
      />
      <label class="custom-file-label" for="featuredImg">
        {{ choosedFileName }}</label
      >
    </div>
    <small
      *ngIf="
        (submitted || postForm.fileSource.touched) && postForm.fileSource.errors
      "
      class="text-danger"
      >Featured Image is required
    </small>
  </div>
  <div class="form-group">
    <label for="post_content">Post Content</label>
    <textarea
      class="form-control"
      id="post_content"
      rows="3"
      placeholder="Post Content"
      formControlName="content"
    ></textarea>
    <small
      *ngIf="(submitted || postForm.content.touched) && postForm.content.errors"
      class="text-danger"
      >Post Content is required
    </small>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary">Save Post</button>
  </div>
</form>
