<div class="container-fluid">
  <h2>Bootcamp Enrollment form 2021</h2>
  <div [hidden]="submitted">
    <form #userForm="ngForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Name"
          [(ngModel)]="userModel.name"
          class="form-control"
          required
          #name="ngModel"
        />
        <small [hidden]="name.valid || name.pristine" class="error-message"
          >Name is required</small
        >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          placeholder="Email"
          class="form-control"
          [(ngModel)]="userModel.email"
          required
          #email="ngModel"
        />
        <small [hidden]="email.valid || email.pristine" class="error-message"
          >Email is required</small
        >
      </div>
      <div class="form-group">
        <label for="email">Contact</label>
        <input
          type="text"
          name="contact"
          placeholder="Contact"
          class="form-control"
          [(ngModel)]="userModel.contact"
          required
          #contact="ngModel"
        />
        <small
          [hidden]="contact.valid || contact.pristine"
          class="error-message"
          >Contact is required</small
        >
      </div>
      <div class="form-group">
        <label for="email">Intrested In</label>
        <select
          name="topic"
          class="form-control"
          [(ngModel)]="userModel.topic"
          required
          #topic="ngModel"
        >
          <option value="">I am interested in</option>
          <option *ngFor="let topic of topics" [value]="topic">
            {{ topic }}
          </option>
        </select>
        <small [hidden]="topic.valid || topic.pristine" class="error-message"
          >Please select Intrest</small
        >
      </div>

      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          name="promotion"
          [(ngModel)]="userModel.promotion"
        />
        <label class="form-check-label" for="promotion"
          >Get prmotion offers</label
        >
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!userForm.form.valid"
      >
        Submit
      </button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ userModel.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-9">{{ userModel.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Contact</div>
      <div class="col-xs-9">{{ userModel.contact }}</div>
    </div>
    <br />
    <button class="btn btn-primary" (click)="submitted = false">Edit</button>
  </div>
</div>
